<div class="container-fluid">
    <h4 class="titulo-manteimiento">Mantenimiento de Persona</h4>

    <!-- iniciando seccion filtro -->
    <div class="row">
        <div class="col-3">
            <label for="">Tipo de documento</label>
            <select class="form-select">
                <option value="null">Todos</option>
                <option value="DNI">DNI</option>
                <option value="CE">CE</option>
                <option value="PAS">PAS</option>
            </select>
        </div>
        <div class="col-3">
            <label for="">Nro de documento</label>
            <input class="form-control" type="text" placeholder="Ingrese número de documento">
        </div>
        <div class="col-3">
            <label for="">Nombre Completo</label>
            <input class="form-control" type="text" placeholder="Ingrese nombre">
        </div>
        <div class="col-3">
            <label for="">Genero</label>
            <select class="form-select">
                <option value="null">Todos</option>
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <button class="btn btn-sm btn-primary float-right mr-1">
                <i class="fas fa-search"></i> Buscar
            </button>
            <button class="btn btn-sm btn-danger float-right mr-1">
                <i class="fas fa-broom"></i> Limpiar XX
            </button>
        </div>

    </div>
    <!-- terminado seccion filtro -->

    <!-- iniciando tabla de contenido -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tip Doc</th>
                            <th>Nro Doc</th>
                            <th>Tip Per</th>
                            <th>Nombre</th>
                            <th>Ape Paterno</th>
                            <th>Ape Materno</th>
                            <th>Nombre Completo</th>
                            <th>Genero</th>
                            <th>Fecha de Nacimiento</th>
                            <th>
                                <button (click)="NuevaPersona(personaregistro)" class="btn btn-success btn-sm">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- foreach for -->
                        <tr *ngFor="let item of personas">
                            <td> {{item.tipo_documento}} </td>
                            <td> {{item.numero_documento}} </td>
                            <td> {{item.tipo_persona}} </td>
                            <td> {{item.nombre}} </td>
                            <td> {{item.apellido_paterno}} </td>
                            <td> {{item.apellido_materno}} </td>
                            <td> {{item.full_name}} </td>
                            <td> {{item.genero}} </td>
                            <!-- usar pipes ==> transformador el texto a un tipo de formato -->
                            <td> {{item.fecha_nacimiento | date:"dd/MM/yyyy "}} </td>
                            <td>
                                <button (click)="editarPersona(item,personaregistro)"
                                    class="btn btn-primary btn-sm mr-1">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button (click)="deletePersona(item.id)" class="btn btn-danger btn-sm mr-1">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- terminando tabla de contenido -->

    <button type="button" class="btn btn-primary" (click)="openModal(personaregistro)">Create template modal</button>
    <ng-template #personaregistro>
        <app-mant-persona-registro 
        [titulo]="tituloModal"
        [persona]="personaSeleccionada"
        (closeModalEmit)="recibeFuncionCerrarModal($event)"
        ></app-mant-persona-registro>
    </ng-template>

</div>






<!-- 
    lo puedes invocar desde cualquier sección del proyecto
    la unica forma de consumir rest apis ==> servicios
    servicios para fechas

 -->