/* You can add global styles to this file, and also import other style files */


.titulo-manteimiento {
    color: #7d7e80;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}