<div class="modal-header">
    <h4 class="modal-title pull-left">{{titulo}}</h4>
    <button (click)="cerrarModal(true)" type="button" class="close pull-right" aria-label="Close">
        <span class="text-danger" aria-hidden="true">&times;</span>
    </button>

</div>
<div class="modal-body">
    <app-custom-date-picker></app-custom-date-picker>
    <form [formGroup]="formularioPersona" class="">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">Código de persona</label>
                    <input class="form-control" formControlName="id" type="text">
                </div>
                <div class="form-group">
                    <label for="">tipo_documento</label>
                    <select class="form-select" formControlName="tipoDocumento">
                        <option value="null">Todos</option>
                        <option value="DNI">DNI</option>
                        <option value="CE">CE</option>
                        <option value="PAS">PAS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Número de documento</label>
                    <input class="form-control" formControlName="numeroDocumento" type="text">
                    <!-- Esta sintaxis funciona para angular 12 hacia abajo -->
                    <!-- <div class="text-danger" *ngIf="formularioPersona.get('numeroDocumento').hasError('required')">
                        Este campo es requerido
                    </div> -->
                    <!-- Esta sintaxis funciona para angular 13 hacia arriba -->
                    <!-- <div class="text-danger" *ngIf="formularioPersona.controls['numeroDocumento'].errors">
                        <small *ngIf="formularioPersona.controls['numeroDocumento'].errors['required']" class="text-danger"> campo requerido</small>
                        <small *ngIf="formularioPersona.controls['numeroDocumento'].errors['minlength']" class="text-danger"> minimo 8 caracteres</small>
                        <small *ngIf="formularioPersona.controls['numeroDocumento'].errors['maxlength']" class="text-danger"> maximo 15 caracteres</small>
                    </div> -->
                    <div class="text-danger" *ngIf="f['numeroDocumento'].errors && formularioPersona.touched">
                        <small *ngIf="f['numeroDocumento'].errors['required']" class="text-danger"> campo requerido</small>
                        <small *ngIf="f['numeroDocumento'].errors['minlength']" class="text-danger"> minimo 8 caracteres</small>
                        <small *ngIf="f['numeroDocumento'].errors['maxlength']" class="text-danger"> maximo 15 caracteres</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Tipo de Persona</label>
                    <select class="form-select" formControlName="tipoPersona">
                        <option value="N">Natural</option>
                        <option value="J">Juridico</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input class="form-control" formControlName="nombre" type="text">
                </div>
                <div class="form-group">
                    <label for="">Apellido Paterno</label>
                    <input class="form-control" formControlName="apellidoPaterno" type="text">
                </div>
                <div class="form-group">
                    <label for="">Apellido Materno</label>
                    <input class="form-control" formControlName="apellidoMaterno" type="text">
                </div>
                <div class="form-group">
                    <label for="">Nombre Completo</label>
                    <input class="form-control" formControlName="fullName" type="text">
                </div>
                <div class="form-group">
                    <label for="">Genero / Sexo</label>
                    <select class="form-select" formControlName="genero">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="form-group">
                    <button (click)="cerrarModal(true)" class="float-right btn btn-danger btn-sm mr-2">
                        <i class="fas fa-ban"></i> Cancelar
                    </button>
                    <button [disabled]="formularioPersona.invalid" (click)="guardarDatos()" class="float-right btn btn-primary btn-sm mr-2">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                    
                </div>
            </div>
        </div>
    </form>
</div>


